Options -Indexes


<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
RewriteBase /sistema-hotel/
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^(.*)$ $1.php

</IfModule>